#container {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#left-box {
    display: flex;
    flex: 1;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    
}

#right-box {
    display: flex;
    flex: 2;
    width: 60%;
    align-items: center;
}

#left-box h1 {
    justify-content: center;
    text-align: center;
}

#left-box h4 {
    justify-content: center;
    text-align: center;
}

#right-box p {
    text-align: center;
    position: relative;

}

#right-box .box {
    background-color: blue;
    width: 500px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    right: 20%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    
}

#vertical-navigation a {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    line-height: 15px;
    width: 85px;
    font-size: 0.7em;
    font-weight: bold;
    margin: 8px 0;
    justify-content: center;
}

#vertical-navigation a:hover {
    background-color: darkred;
    opacity: 0.8;
}

#footer p {
    background-color: lightgrey;
    display: block;
    align-items: center;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    justify-content: center;
    display: block;
    font-size: 0.7em;
    font-weight: bold;
    
  }
  
  button:hover {
    background-color: darkred;
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: auto;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    color: black;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }